/Database Design Guide (1).pdf
/Day 1-Interview questions(RDBMS,MYSQL).pdf
/Day 2-Interview questions(Insert,Select,Normalization).pdf
/Day 3-Interview questions(Update and Select Command).pdf
/Day2-Facilitation Guide(Insert and Select Commands).pdf
/Day3-Facilitation Guide(Update and Select Command).pdf
/NormalizationNote.txt
/sqlPractice6thMarch.txt
/SQL_5thMarch.txt